.overview-card {
  @apply rounded-lg shadow-card_box bg-white px-4 py-6 border border-border;

  .card-divider {
    height: auto;
    margin-inline: 16px;
    border-inline-start: 1px solid #e6e6e6;
    @apply border-border;
  }
}
