.home-container {
  @apply w-full flex align-middle flex-col m-auto;
  .banner-section {
    @apply w-full h-[224px] items-start flex justify-start gap-4 px-0 py-10 flex-col min-[993px]:min-w-[200px] max-w-[1440px] box-border ml-auto mr-auto px-4 min-[769px]:px-6 min-[993px]:px-10;
    h2 {
      @apply text-left text-[24px] font-bold leading-8 text-white;
    }
  }
  .latest-all {
    @apply w-full flex min-[993px]:flex-row mt-4 gap-4 box-border flex-col flex-wrap min-[993px]:min-w-[200px] max-w-[1440px] ml-auto mr-auto px-4 min-[769px]:px-6 min-[993px]:px-10;
    > .home-latest {
      @apply min-[993px]:w-[50%] flex-1 w-full;
    }
    &-mobile {
      .producer {
        @apply !min-w-[200px] !max-w-[300px];
      }
    }
  }
  .search-section {
    @apply flex items-center justify-start w-full;
  }
}

.banner-section-container {
  background-image: url('/image/home-bg-main.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.banner-section-container-test {
  background-image: url('/image/home-bg-test.png');
  background-color: rgb(248 249 250);
}