.tab-container {
  @apply bg-white rounded-lg;
  .explorer-tabs {
    @apply bg-white rounded-lg border border-border shadow-table;

    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    .explorer-tabs-tab {
      @apply py-[14px] px-4 pt-[16px] !m-0;
    }
    .explorer-tabs-ink-bar {
      @apply !bg-primary;
    }
    .explorer-tabs-nav {
      @apply shadow-title_bot;
    }
    .explorer-tabs-nav::before {
      border-bottom: 0;
    }
    .explorer-tabs-tab:active {
      @apply bg-white;
    }
    .explorer-tabs-tab-btn {
      @apply font-semibold text-muted-foreground text-sm hover:text-foreground;
    }
    .explorer-tabs-nav-wrap {
      @apply border-border;
    }
    .explorer-tabs-tab-active {
      .explorer-tabs-tab-btn {
        @apply font-semibold text-sm text-foreground;
      }
    }
    .explorer-tabs-nav .explorer-tabs-nav-wrap::after {
      box-shadow: none;
    }
    .explorer-tabs-nav .explorer-tabs-nav-wrap::before {
      box-shadow: none;
    }
  }
}
