.wallet-address {
  @apply text-xs leading-5;
  a {
    @apply text-xs leading-5;
  }
}

.contract-collapse-container{
  .explorer-collapse {
    @apply !border-border bg-muted;
  }
  .explorer-collapse-item {
    @apply !border-border;
  }
  .explorer-collapse-header {
    @apply  !px-3 !py-[6px] !items-center;
  }
  .explorer-collapse-header-text {
    @apply text-sm text-foreground flex-1 min-w-0 mr-1;
  }
  .explorer-collapse-content {
    @apply !border-border;
  }
  .explorer-collapse-expand-icon {
    padding-inline-start: 16px;
  }
  .arrow {
    transition: transform 0.3s;
  }
  .explorer-collapse-content-box {
    @apply px-3 pt-2 pb-4;
  }

  .explorer-form-item .explorer-form-item-label >label {
    @apply text-foreground text-sm !important;
  }

  .explorer-input-outlined {
    @apply border-border rounded-md !important;
  }
}

.explorer-form-item {
  @apply mb-3;
}

.menu-label {
  @apply text-xs leading-5 text-base-100;
  .min {
    vertical-align: super;
    font-size: 10px;
    zoom: 0.8;
  }
}
.show-count {
  @apply text-xs leading-5 text-base-100;
  .min {
    vertical-align: super;
    font-size: 10px;
    zoom: 0.8;
  }
}

.menu-container {
  .explorer-dropdown-menu .explorer-dropdown-menu-item:hover {
    @apply !bg-F7;
  }
}

.logout-warpper {
  &:hover {
    svg {
      @apply text-link ;
    }
  }
}